@use 'sass:math';

.card {
    display: block;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    border-radius: math.div($base-border-radius, 4);
    transition: 0.5s;

    &:hover{
        box-shadow: 0 0 3px $secondary;
        margin-top: -5px;
    }

    .card-title{
        font-size: $base-font-size;
        padding-bottom: $base-padding;
        font-weight: bold;
    }
    .card-body {
        font-size: $font-size-sm;

        a {
            text-decoration: underline;
            padding: $base-padding;
        }
    }
}

// @debug "Hi Dave";
// @debug math.div(10,3);
// @debug math.floor(2.6);
// @debug math.max(1px, 20px, 10px, 15px);
